div {background-color: #417D8B;}
img{
    margin-top: 20px;
    padding-left: 40%;
    background-color: #417D8B;
    padding-right: 44.5%;
    background-position: 120px;
}
h1 
 {
  color:#edf3f5;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   font-size: 250%;
padding-left: 40%;
background-color: #417D8B;
padding-top: 30px;
padding-bottom: 30px; }
    
* {background-color:rgb(228, 207, 214)}
section
{
    font-size: 16;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2,h3,h4 {
    color:#417D8B; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{ 
    color: rgb(#554148);
}
body {margin-left: 20px;
margin-right: 20px;
border: crimson;
border-style: solid;}